.home {
  background-color: #ffffff;
}

/* overriding for warning to purple color */

#image-div{
  text-align: center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  width: 250px !important;
}

.btn-outline-warning {
  color: purple !important;
  border-color: purple !important;
  background-color: rgb(241, 234, 241) !important;
  width: 50%;
}
.btn-outline-warning:active {
  color: white !important;
  border-color: purple !important;
}
.btn-outline-warning:hover {
  background-color: purple !important;
  color: white !important;
}
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem white!important;
}

/* margin to be given when the screen is sized tp medium or small */
#set-1{
  text-align: center;
  margin-bottom: 2px;
}
#set-2{
  text-align: center;
  margin-bottom: 2px;
}
#set-3{
  text-align: center;
  margin-bottom: 2px;
}
#meal-plan{
  text-align: center;
  margin-bottom: 2px;
}

._24bLp:after {
  background: #ffffff !important;
}