.home {
  background-color: black;
}

/* overriding for warning to purple color */

#image-div{
  text-align: center;
}
.img-fluid {
  max-width: 200% !important;
  height: auto;
  width: 250px !important;
}
#heading_name{
  color: #CD52CD;
  font-size: 4vw;
  font-family: serif;
  font-weight: bolder;
}
.btn-outline-warning {
  color: #CD52CD !important;
  border-color: #CD52CD !important;
  background-color: rgb(241, 234, 241) !important;
  width: 50%;
}
.btn-outline-warning:active {
  color: white !important;
  border-color: #CD52CD !important;
}
.btn-outline-warning:hover {
  background-color: #CD52CD !important;
  color: white !important;
}
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem white!important;
}

/* margin to be given when the screen is sized tp medium or small */
#set-1{
  text-align: center;
  margin-bottom: 2px;
}
#set-2{
  text-align: center;
  margin-bottom: 2px;
}
#set-3{
  text-align: center;
  margin-bottom: 2px;
}
#meal-plan{
  text-align: center;
  margin-bottom: 2px;
}

._24bLp:after {
  background: #ffffff !important;
}